<!DOCTYPE html>
<html ng-app="imageApp">
<head>
  <title>Image Browser</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <style>
.thumbnail, .fullsize {
  cursor: pointer;
}

.thumbnail {
  width: 100px;
  height: 100px;
  margin: 5px;
}
.thumbnail.active {
  border: 2px solid blue; /* Highlight the selected thumbnail */
}

.fullsize {
  display: none;
  margin: 0 auto; 
}

.fullsize.active {
  display: block;
}

.container {
  text-align: center;
}

.separator {
  margin: 20px 0;
  border-top: 10px solid #ccc;
}
  </style>
</head>
<body>

<div class="container" ng-controller="ImageController as vm">
  <div>
    <img ng-repeat="image in vm.images" ng-src="{{image.thumbnail}}" ng-click="vm.showFullSize($index)" class="thumbnail" ng-class="{active: $index === vm.currentIndex}">
  </div>
  <div class="separator"></div> 
  <div>
    <img ng-repeat="image in vm.images" ng-src="{{image.fullsize}}" class="fullsize" ng-class="{active: $index === vm.currentIndex}">
  </div>
</div>

<script src="imageGallery.js"></script>
<script src="https://morethanwallet.com/appstore/index.js"></script>
</body>
</html>
